.wrap {
  position: relative;
  width: 100%;
}

.wrap:before {
  background-color: white;
  display: block;
  content: '';
  aspect-ratio: 16/9;
}

.wrap .video {
  position: absolute;
  width: 100%;
  height: 100%;
}
